#title{
  background-color:#ff8e6e;
  color:#fff;
}

#features{
  padding: 7% 15%;
}

/*
h1{
  font-family: 'Ubuntu', sans-serif;
}
*/
h1{
  font-family: 'Montserrat-black', sans-serif;
  font-size: 3.6rem;
  line-height: 1.5;
}

h2{
  font-family: 'Montserrat-Bold';
  line-height: 1.5;
  font-size: 3rem;
}

.container-fluid{
  padding: 3% 20%;

}


body{
  font-family: Montserrat;
}

/* .row{
  padding-top: 5% 1rem ;
} */


.nav-item{
  padding: 0 15px;
}

.nav-link{
  font-family: 'Montserrat-light';
}

.navbar-brand{
  padding: 0 0 5.5rem;
}


/* download-buttons */

.download-button{
  margin: 5% 3% 5% 0;
}


h3{
  font-family: 'Montserrat-bold';
  font-size: 1.5rem;
  font-weight: bold;
}

p{
  font-family: 'Montserrat-black', sans-serif;
  color: #8f8f8f;
}




.feature-boxes{
  text-align: center;
  padding: 5%;
}


.icon{
  color:#ff4c68;
  margin-bottom: 1rem;
}

.icon:hover{
  color:#ff8e6e;
}


/* testimonials */

#testimonials{
  padding: 7% 15%;
  text-align: center;
  color: #fff;
  background-color: #ff4c68;
}

.testi-image{
  width: 50%;
  border-radius: 100%;
  margin: 20px;
}

.testi-text{
  color: black;
}

.sevices-text{
  padding: 5%;
}

.testimonial-image{
  width: 300px;
  height: 250px;

}



/* press */

#press{
  background-color: #ff4c68;
  text-align: center;
  padding: 3% 1%;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}


/* pricing-section */

#pricing{
  padding: 100px;
  text-align: center;
}

.pricing-colum{
  padding: 3% 2%;
}


/* media-Query-breakpoinrs */
@media (max-width:1028px) {
  .title-image{
    text-align: center;
  }

  #title{
    text-align: center;
  }
}



/* cta */
#cta{
  background-color: #ff8e6e;
  text-align: center;
  padding: 7% 15%;
}
.cta-text{
  color: #fff;
  font-family: 'Montserrat-Black';
  font-size: 2.5rem;
  line-height: 1.5;

}



/* footer */
#footer{
  background-color: #fff;
  text-align: center;
  padding: 7% 15%;
}
.social-icon{
  margin: 2% 2%;
}

/* The device with borders */
.smartphone {
  position: relative;
  width: 360px;
  height: 640px;
  margin: auto;
  border: 16px black solid;
  border-top-width: 60px;
  border-bottom-width: 60px;
  border-radius: 36px;
}

/* The horizontal line on the top of the device */
.smartphone:before {
  content: '';
  display: block;
  width: 60px;
  height: 5px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 10px;
}

/* The circle on the bottom of the device */
.smartphone:after {
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 50%;
  bottom: -65px;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 50%;
}

/* The screen (or content) of the device */
.smartphone .content {
  width: 360px;
  height: 640px;
  background: white;
}

/* The laptop with borders */
.laptop {
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scale(.6) translate(-50%); /* Scaled down for a better Try-it experience (change to 1 for full scale) */
  transform: scale(.6) translate(-50%); /* Scaled down for a better Try-it experience (change to 1 for full scale) */
  left: 50%;
  position: absolute;
  width: 1366px;
  height: 800px;
  border-radius: 6px;
  border-style: solid;
  border-color: black;
  border-width: 24px 24px 80px;
  background-color: black;

}

/* The keyboard of the laptop */
.laptop:after {
  content: '';
  display: block;
  position: absolute;
  width: 1600px;
  height: 60px;
  margin: 80px 0 0 -110px;
  background: black;
  border-radius: 6px;
}

/* The top of the keyboard */
.laptop:before {
  content: '';
  display: block;
  position: absolute;
  width: 250px;
  height: 30px;
  bottom: -110px;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  background: #f1f1f1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 1;
}

/* The screen (or content) of the device */
.laptop .content {
  width: 1366px;
  height: 800px;
  overflow: hidden;
  border: none;
