.bg{
	background: url(../images/bgd4.png) ;
	background-size: 100% auto;
	}


.title{
  color:#fff;
  padding: 7% 15%;
}

.features{
  padding: 7% 15%;
}

/*
h1{
  font-family: 'Ubuntu', sans-serif;
}
*/
h1{
  font-family: 'Montserrat-black', sans-serif;
  font-size: 3.6rem;
  line-height: 1.5;
}

h2{
  font-family: 'Montserrat-Bold';
  line-height: 1.5;
  font-size: 3rem;
}

.container-fluid{
  padding: 3% 20%;

}


body{
  font-family: Montserrat;
}

/* .row{
  padding-top: 5% 1rem ;
} */


.nav-item{
  padding: 0 15px;
}

.nav-link{
  font-family: 'Montserrat-light';
}

.navbar-brand{
  padding: 0 0 5.5rem;
}


/* download-buttons */

.download-button{
  margin: 5% 3% 5% 0;
}


h3{
  font-family: 'Montserrat';
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

p{
  font-family: 'Montserrat', sans-serif;
  color: #8f8f8f;
}




.feature-boxes{
	background: transparent;
	color: #fff;
  text-align: center;
  padding: 5%;
}


.icon{
  color:#FF4500;
  margin-bottom: 1rem;
}

.icon:hover{
  color:#ff8e6e;
}


/* testimonials */

.testimonials{
  padding: 7% 15%;
  text-align: center;
  color: #fff;
}

.testi-image{
  width: 50%;
  border-radius: 100%;
  margin: 20px;
}

.testi-text{
  color: black;
}

.sevices-text{
  padding: 5%;
}

.testimonial-image{
  width: 300px;
  height: 250px;

}



/* press */

#press{
  text-align: center;
  padding: 3% 1%;
}

.press-logo{
  width: 15%;
  margin: 10px 10px 30px;
}


/* media-Query-breakpoinrs */
@media (max-width:1028px) {
  .title-image{
    text-align: center;
  }

  .title{
    text-align: center;
  }
}



/* cta */
#cta{
  text-align: center;
  padding: 7% 15%;
}
.cta-text{
  color: #fff;
  font-family: 'Montserrat-Black';
  font-size: 4 rem;
  line-height: 1.5;

}



/* The screen (or content) of the device */
.smartphone .content {
  width: 360px;
  height: 640px;
  background: white;
}

/* The screen (or content) of the device */
.laptop .content {
  width: 1366px;
  height: 800px;
  overflow: hidden;
  border: none;
#container{
	 text-align: left;
	 margin: 0;
	 padding: 0;
	 margin: 0 auto;
	 font-family: "Trebuchet MS","Myriad Pro",Arial,sans-serif;
} }

