

/** fonts used for the icons **/ 
@font-face {
    font-family: 'FontomasCustomRegular';
    src: url('fonts/fontomas-webfont.eot');
    src: url('fonts/fontomas-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/fontomas-webfont.woff') format('woff'),
         url('fonts/fontomas-webfont.ttf') format('truetype'),
         url('fonts/fontomas-webfont.svg#FontomasCustomRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FranchiseRegular';
    src: url('fonts/franchise-bold-webfont.eot');
    src: url('fonts/franchise-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/franchise-bold-webfont.woff') format('woff'),
         url('fonts/franchise-bold-webfont.ttf') format('truetype'),
         url('fonts/franchise-bold-webfont.svg#FranchiseRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
a.hiddenanchor{
	display: none;
}
/** The wrapper that will contain our two forms **/
#wrapper{
	float: center;
	width: 50%;
	min-height: 560px;	
	margin: 2px auto;	
	width: 400px;
	position: relative;	
}
/**** Styling the form elements **/

/**** general text styling ****/
#wrapper a{
	padding: 7% 15%;
  text-align: center;
	color: rgb(173, 49, 7);
	text-decoration: underline;
}

#wrapper h1{
	font-size: 48px;
	color: rgb(173, 49, 7);
	padding: 2px 0 10px 0;
	font-family: 'FranchiseRegular','Arial Narrow',Arial,sans-serif;
	font-weight: bold;
	text-align: center;
	padding-bottom: 10px;
}

#wrapper h1{
    background: -webkit-repeating-linear-gradient(-45deg, 
	rgb(217, 47, 17) , 
	rgb(255, 43, 43) 20px, 
	rgb(171, 0, 0) 20px, 
	rgb(171, 0, 0) 40px, 
	rgb(92, 0, 0) 40px);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
#wrapper h1:after{
	content: ' ';
	display: block;
	width: 100%;
	height: 2px;
	margin-top: 10px;
	background: -moz-linear-gradient(left, rgba(242, 73, 61,0) 0%, rgba(242, 73, 61,0.8) 20%, rgba(242, 73, 61,1) 53%, rgba(242, 73, 61,0.8) 79%, rgba(242, 73, 61,0) 100%); 
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(242, 73, 61,0)), color-stop(20%,rgba(242, 73, 61,0.8)), color-stop(53%,rgba(242, 73, 61,1)), color-stop(79%,rgba(242, 73, 61,0.8)), color-stop(100%,rgba(242, 73, 61,0))); 
	background: -webkit-linear-gradient(left, rgba(242, 73, 61,0) 0%,rgba(242, 73, 61,0.8) 20%,rgba(242, 73, 61,1) 53%,rgba(242, 73, 61,0.8) 79%,rgba(242, 73, 61,0) 100%); 
	background: -o-linear-gradient(left, rgba(242, 73, 61,0) 0%,rgba(242, 73, 61,0.8) 20%,rgba(242, 73, 61,1) 53%,rgba(242, 73, 61,0.8) 79%,rgba(242, 73, 61,0) 100%); 
	background: -ms-linear-gradient(left, rgba(242, 73, 61,0) 0%,rgba(242, 73, 61,0.8) 20%,rgba(242, 73, 61,1) 53%,rgba(242, 73, 61,0.8) 79%,rgba(242, 73, 61,0) 100%); 
	background: linear-gradient(left, rgba(242, 73, 61,0) 0%,rgba(242, 73, 61,0.8) 20%,rgba(242, 73, 61,1) 53%,rgba(242, 73, 61,0.8) 79%,rgba(242, 73, 61,0) 100%); 
}

#wrapper p{
	margin-bottom:15px;
}
#wrapper p:first-child{
	margin: 0px;
}
#wrapper label{
	color: rgb(173, 49, 7);
	position: relative;
}

/**** advanced input styling ****/
/* placeholder */
::-webkit-input-placeholder  { 
	color: rgb(190, 188, 188); 
	font-style: italic;
}
input:-moz-placeholder,
textarea:-moz-placeholder{ 
	color: rgb(190, 188, 188);
	font-style: italic;
} 
input {
  outline: none;
}

/* all the input except submit and checkbox */
#wrapper input:not([type="checkbox"]){
	width: 92%;
	margin-top: 4px;
	padding: 10px 5px 10px 32px;	
	border: 1px solid rgb(178, 178, 178);
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	  -moz-box-sizing : content-box;
	       box-sizing : content-box;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	-webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	   -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	        box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	-webkit-transition: all 0.2s linear;
	   -moz-transition: all 0.2s linear;
	     -o-transition: all 0.2s linear;
	        transition: all 0.2s linear;
}
#wrapper input:not([type="checkbox"]):active,
#wrapper input:not([type="checkbox"]):focus{
	border: 1px solid rgba(91, 90, 90, 0.7);
	background: rgba(0, 0, 0, 0.5);	
	-webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
	   -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
	        box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
} 

/** the magic icon **/
[data-icon]:after {
    content: attr(data-icon);
    font-family: 'FontomasCustomRegular';
    color: rgb(173, 49, 7);
    position: absolute;
    left: 10px;
    top: 35px;
	width: 30px;
}

/*styling both submit buttons */
#wrapper p.button input{
	width: 30%;
	cursor: pointer;	
	background: rgb(173, 49, 7);
	padding: 8px 5px;
	font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
	color: #fff;
	font-size: 24px;	
	border: 1px solid rgb(28, 108, 122);	
	margin-bottom: 10px;	
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;	
	-webkit-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
	        0px 0px 0px 3px rgb(254, 254, 254),
	        0px 5px 3px 3px rgb(210, 210, 210);
	   -moz-box-shadow:0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
	        0px 0px 0px 3px rgb(254, 254, 254),
	        0px 5px 3px 3px rgb(210, 210, 210);
	        box-shadow:0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
	        0px 0px 0px 3px rgb(254, 254, 254),
	        0px 5px 3px 3px rgb(210, 210, 210);
	-webkit-transition: all 0.2s linear;
	   -moz-transition: all 0.2s linear;
	     -o-transition: all 0.2s linear;
	        transition: all 0.2s linear;
}
#wrapper p.button input:hover{
	background: rgb(173, 49, 7);
}
#wrapper p.button input:active,
#wrapper p.button input:focus{
	background: rgb(40, 137, 154);
	position: relative;
	top: 1px;
	border: 1px solid rgb(12, 76, 87);	
	-webkit-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
	   -moz-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
	        box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
}
p.login.button,
p.signin.button{
	text-align: right;
	margin: 5px 0;
}


/* styling the checkbox "keep me logged in"*/
.keeplogin{
	margin-top: -5px;
}
.keeplogin input,
.keeplogin label{
	display: inline-block;
	font-size: 12px;	
	font-style: italic;
}
.keeplogin input#loginkeeping{
	margin-right: 5px;
}
.keeplogin label{
	width: 80%;
}


/*styling the links to change from one form to another */

p.change_link{
	position: absolute;
	font-weight: bold;
	color: rgb(173, 49, 7);
	text-shadow: 1px 1px 4px #ffffff;
	left: 0px;
	height: 58px;
	width: 350px;
	padding: 17px 30px 20px 30px;
	font-size: 16px	;
	text-align: right;
	border-top: 1px solid rgb(0, 0, 0);
	-webkit-border-radius: 0 0  5px 5px;
	   -moz-border-radius: 0 0  5px 5px;
	        border-radius: 0 0  5px 5px;
	background: rgb(255, 129, 0);
	background: -moz-repeating-linear-gradient(-45deg, 
	rgba(0, 0, 0,0.25) , 
	rgba(0, 0, 0,0.25) 20px, 
	rgba(255, 255, 240,0.25) 20px, 
	rgba(255, 255, 240,0.25) 30px, 
	rgba(0, 0, 0,0.25) 30px
	);
	background: -webkit-repeating-linear-gradient(-45deg, 
	rgba(0, 0, 0,0.25) , 
	rgba(0, 0, 0,0.25) 20px, 
	rgba(255, 255, 240,0.25) 20px, 
	rgba(255, 255, 240,0.25) 30px, 
	rgba(0, 0, 0,0.25) 30px
	);
	background: -o-repeating-linear-gradient(-45deg, 
	rgba(0, 0, 0,0.25) , 
	rgba(0, 0, 0,0.25) 20px, 
	rgba(255, 255, 240,0.25) 20px, 
	rgba(255, 255, 240,0.25) 30px, 
	rgba(0, 0, 0,0.25) 30px
	);
	background: repeating-linear-gradient(-45deg, 
	rgba(0, 0, 0,0.25) , 
	rgba(0, 0, 0,0.25) 20px, 
	rgba(255, 255, 240,0.25) 20px, 
	rgba(255, 255, 240,0.25) 30px, 
	rgba(0, 0, 0,0.25) 30px
	);
}
#wrapper p.change_link a {
	display: inline-block;
	font-weight: bold;
	background: rgba(247, 248, 241,0.8);
	padding: 2px 6px;
	color: rgb(235, 51, 14);
	text-shadow: 2px 2px 8px #999999;
	margin-left: 10px;
	text-decoration: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid rgb(173, 49, 7);
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s  linear;
	-o-transition: all 0.4s linear;
	-ms-transition: all 0.4s  linear;
	transition: all 0.4s  linear;
}
#wrapper p.change_link a:hover {
	color: rgb(255, 255, 255);
	background: rgba(0, 0, 0,0.5);
	border: 1px solid rgb(251, 194, 153);
}
#wrapper p.change_link a:active{
	position: relative;
	top: 1px;
}
/** Styling both forms **/
#register, 
#login{
	position: absolute;
	top: 10px;
	width: 88%;	
	padding: 18px 6% 60px 6%;
	margin: 0 0 35px 0;
	background: rgba(0, 0, 0, 0.5);
	border: 1px solid rgba(0, 0, 0,0.8);
	-webkit-box-shadow: 0pt 2px 5px rgba(0, 0, 0, 0.7),	0px 0px 8px 5px rgba(0, 0, 0, 0.4) inset;
	   -moz-box-shadow: 0pt 2px 5px rgba(0, 0, 0, 0.7),	0px 0px 8px 5px rgba(0, 0, 0, 0.4) inset;
	        box-shadow: 0pt 2px 5px rgba(0, 0, 0,  0.7),	0px 0px 8px 5px rgba(0, 0, 0, 0.4) inset;
	-webkit-box-shadow: 5px;
	-moz-border-radius: 5px;
		 border-radius: 5px;
}
#register{	
	z-index: 21;
	opacity: 0;
}
#login{
	z-index: 22;
}
#toregister:target ~ #wrapper #register,
#tologin:target ~ #wrapper #login{
	z-index: 22;
	-webkit-animation-name: fadeInLeft;
	-moz-animation-name: fadeInLeft;
	-ms-animation-name: fadeInLeft;
	-o-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
	-webkit-animation-delay: .1s;
	-moz-animation-delay: .1s;
	-o-animation-delay: .1s;
	-ms-animation-delay: .1s;
	animation-delay: .1s;
}
#toregister:target ~ #wrapper #login,
#tologin:target ~ #wrapper #register{
	-webkit-animation-name: fadeOutLeft;
	-moz-animation-name: fadeOutLeft;
	-ms-animation-name: fadeOutLeft;
	-o-animation-name: fadeOutLeft;
	animation-name: fadeOutLeft;
}

.animate{
	-webkit-animation-duration: 0.5s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	
	-moz-animation-duration: 0.5s;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: both;
	
	-o-animation-duration: 0.5s;
	-o-animation-timing-function: ease;
	-o-animation-fill-mode: both;
	
	-ms-animation-duration: 0.5s;
	-ms-animation-timing-function: ease;
	-ms-animation-fill-mode: both;
	
	animation-duration: 0.5s;
	animation-timing-function: ease;
	animation-fill-mode: both;
}



.lt8 #wrapper input{
	padding: 10px 5px 10px 32px;
    width: 92%;
}
.lt8 #wrapper input[type=checkbox]{
	width: 10px;
	padding: 0;
}
.lt8 #wrapper h1{
	color: #FEA877;
}
.lt8 #register{	
	display: none;
}
.lt8 p.change_link,
.ie9 p.change_link{
	position: absolute;
	height: 90px;
	background: transparent;
}



/* The screen (or content) of the device */
.smartphone .content {
  width: 360px;
  height: 640px;
  background: rgb(251, 212, 185);
}

/* The screen (or content) of the device */
.laptop .content {
  width: 1366px;
  height: 800px;
  overflow: hidden;
  border: none;
#container{
	 text-align: left;
	 margin: 0;
	 padding: 0;
	 margin: 0 auto;
	 font-family: "Trebuchet MS","Myriad Pro",Arial,sans-serif;
} }
